.game-app {
  font-family: sans-serif;
}

.pong-app {
  font-family: sans-serif;
}

.add-game {
  margin-left: 0.5rem;
}

/** game list **/
.game-list {
  margin-top: 1rem;
  text-align: left;
  list-style: none;
}

/** visibility filters **/
.filter {
  padding: 0.3rem 0;
  margin: 0 0.3rem;
  cursor: pointer;
}
.filter--active {
  border-bottom: 1px solid black;
}
